{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="sectionHero">
    <div class="sectionHero__container">
        <h2 class="sectionHero__h2">the ultimate luxury experience</h2>
        <h1 class="sectionHero__h1">About Us</h1>
        <div class="sectionHero__links">
            <p class="sectionHero__p"><a href="{% url 'index' %}" class="sectionHero__a">Home</a> | About </p>
        </div>

    </div>
</section>
<section class="sectionHotelDescription">
    <iframe
        class="sectionHotelDescription__video"
        src="https://www.youtube.com/embed/Bu3Doe45lcU?si=wdNK-3QMmlm3VshQ&amp;clip=Ugkx9RNabzWcvOxCnmLbJgKH6Nj5D4cGHx74&amp;clipt=EKjDARj4yQQ" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>

    <h1 class="sectionHotelDescription__h1">
        Hello. Our hotel has been present for over 20 years. We make the best for all our customers.
    </h1>

    <div class="sectionHotelDescription__icons">
        <div class="sectionHotelDescription__item">
            <img src="{% static 'icons/breakfast.svg' %}" alt="" class="sectionHotelDescription__icon">
            <span class="sectionHotelDescription__span">breakfast</>
        </div>
        <div class="sectionHotelDescription__item">
            <img src="{% static 'icons/plane.svg' %}" alt="" class="sectionHotelDescription__icon">
            <span class="sectionHotelDescription__span">airport pickup</>
        </div>
        <div class="sectionHotelDescription__item">
            <img src="{% static 'icons/guide.svg' %}" alt="" class="sectionHotelDescription__icon">
            <span class="sectionHotelDescription__span">city guide</>
        </div>
        <div class="sectionHotelDescription__item">
            <img src="{% static 'icons/room.svg' %}" alt="" class="sectionHotelDescription__icon">
            <span class="sectionHotelDescription__span">luxury room</span>
        </div>
        
    </div>

    <div class="sectionHotelDescription__restaurant">
        <img src="{% static 'images/restaurant.jpg' %}" alt="" class="sectionHotelDescription__img">
        <div class="restaurant__container">
            <h2 class="sectionHotelDescription__h2">Restaurant</h2>
            <h1 class="sectionHotelDescription__h1 sectionHotelDescription__h1--left">Get Restaurant Facilities & Many Other More</h1>    
            <p class="sectionHotelDescription__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <button class="button button--dark">take a tour</button>
        </div>

        </div>
    </div>
</section>

<section class="sectionFacilities sectionFacilities--dark">
    <h2 class="sectionFacilities__h2 sectionFacilities__h2--light">facilities</h2>
    <h1 class="sectionFacilities__h1 sectionFacilities__h1--light">Core Features</h1>
    <div class="swiper swiperPagination swiperPagination--dark">
        <div class="swiper-wrapper swiperPagination__wrapper">
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">01</span>
            <img src="{% static 'icons/core 1.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Have High Rating</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p>
            </div>
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">02</span>
            <img src="{% static 'icons/core 2.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Quiet Hours</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p>
            </div>
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">03</span>
            <img src="{% static 'icons/core 3.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Best Locations</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p>
            </div>
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">04</span>
            <img src="{% static 'icons/core 4.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Free Cancellations</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p>
            </div>
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">05</span>
            <img src="{% static 'icons/core 5.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Payment Options</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p>
            </div>
            <div class="swiper-slide swiperPagination__slide">
            <span class="swiperPagination__span swiperPagination__span--dark">06</span>
            <img src="{% static 'icons/core  6.svg' %}" alt="" class="swiperPagination__img">
            <h3 class="swiperPagination__h3 swiperPagination__h3--light">Special Offers</h3>
            <p class="swiperPagination__p swiperPagination__p--light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna..
            </p> 
            </div>
            
        </div>
    </div>
    <div class="swiperPagination__bullets"></div>
</section>

<section class="sectionCounter">
    <h2 class="sectionCounter__h2">counter</h2>
    <h1 class="sectionCounter__h1">Some Fun Facts</h1>
    <div class="sectionCounter__flex">
        <div class="sectionCounter__item">
            <img src="{% static 'icons/happy.svg' %}" alt="" class="sectionCounter__icon">
            <div class="sectionCounter__text">
                <p class="sectionCounter__p">8000</p>
                <span class="sectionCounter__span">Happy Users</span>
            </div>
            <img src="{% static 'icons/arrowLight.svg' %}" alt="" class="sectionCounter__img sectionCounter__img--left">
        </div>
        <div class="sectionCounter__item">
            <img src="{% static 'icons/likes.svg' %}" alt="" class="sectionCounter__icon">
            <div class="sectionCounter__text">
                <p class="sectionCounter__p">100M</p>
                <span class="sectionCounter__span">Reviews & Appriciate</span>
            </div>
            <img src="{% static 'icons/arrowLight.svg' %}" alt="" class="sectionCounter__img sectionCounter__img--left">
        </div>
        <div class="sectionCounter__item">
            <img src="{% static 'icons/world.svg' %}" alt="" class="sectionCounter__icon">
            <div class="sectionCounter__text">
                <p class="sectionCounter__p">100</p>
                <span class="sectionCounter__span">Country Coverage</span>
            </div>
            <img src="{% static 'icons/arrowLight.svg' %}" alt="" class="sectionCounter__img sectionCounter__img--left">
        </div>
    </div>    
    <div class="swiper swiper2Slide">
        <div class="swiper-wrapper swiper2Slide__wrapper">
            <div class="swiper-slide swiper2Slide__slide">
            <img src="{% static 'images/fun1.jpg' %}" alt="" class="swiper2Slide__img">
            </div>
            <div class="swiper-slide swiper2Slide__slide">
            <img src="{% static 'images/fun2.jpg' %}" alt="" class="swiper2Slide__img">
            </div>
        </div>
    </div>
    <div class="swiper2Slide__bullets"></div>
</section>
{% endblock %}
