{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="sectionHero">
    <div class="sectionHero__container">
        <h2 class="sectionHero__h2">the ultimate luxury experience</h2>
        <h1 class="sectionHero__h1">Contact</h1>
        <div class="sectionHero__links">
            <p class="sectionHero__p"><a href="{% url 'index' %}" class="sectionHero__a">Home</a> | Contact</p>
        </div>

    </div>
</section>

<section class="sectionContactInfo">
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">01</p>
        <img src="{% static 'icons/mail.svg' %}" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Hotel Address</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">C. de la Princesa, 31, 2º, 28008 Madrid</span>
        </div>
    </div>
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">02</p>
        <img src="{% static 'icons/phone.svg' %}" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Phone Number</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">+34 650 25 82 66</span>
        </div>
    </div>
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">03</p>
        <img src="{% static 'icons/location.svg' %}" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Email</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">halmoguerar@gmail.com</span>
        </div>
    </div>
</section>

<div class="sectionContactForm__feedback" id="feedbackContainer">
    <h4 class="sectionContactInfo__h4">¡Thank you for your request!</h4>
    <p class="sectionContactInfo__p--small">We have received it correctly. Someone from our Team will get back to you very soon.</p>    
    <p class="sectionContactInfo__p--small">The Miranda Hotel</p>
</div>

<form class="sectionContactForm" method="POST" id="roomForm">
    {% csrf_token %}
    <div class="sectionContactForm__topGroup">
        <div class="sectionContactForm__group">
            <div class="sectionContactForm__container">
                <img src="{% static 'icons/userSmall.svg' %}" alt="" class="sectionContactForm__img">
                {{ form.full_name }}
            </div>
            <div class="sectionContactForm__container">
                <img src="{% static 'icons/phoneSmall.svg' %}" alt="" class="sectionContactForm__img">
                {{ form.phone }}
            </div>

        </div>

        <div class="sectionContactForm__group">
            <div class="sectionContactForm__container">
                <img src="{% static 'icons/mailSmall.svg' %}" alt="" class="sectionContactForm__img">
                {{ form.email }}
            </div>
            <div class="sectionContactForm__container">
                <img src="{% static 'icons/copySmall.svg' %}" alt="" class="sectionContactForm__img">
                {{ form.subject }}
            </div>

        </div>
    
    </div>
    <div class="sectionContactForm__container">
        <img src="{% static 'icons/penSmall.svg' %}" alt="" class="sectionContactForm__img--top">
        {{ form.text }}
    </div>
    <button class="button button--dark" type="submit">send</button> 
</form>

{% endblock %}