{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="sectionHero">
    <div class="sectionHero__container">
        <h2 class="sectionHero__h2">the ultimate luxury experience</h2>
        <h1 class="sectionHero__h1">Contact</h1>
        <div class="sectionHero__links">
            <p class="sectionHero__p"><a href="{% url 'index' %}" class="sectionHero__a">Home</a> | Contact</p>
        </div>

    </div>
</section>

<section class="sectionContactInfo">
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">01</p>
        <img src="./icons//mail.svg" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Hotel Address</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">C. de la Princesa, 31, 2º, 28008 Madrid</span>
        </div>
    </div>
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">02</p>
        <img src="./icons//phone.svg" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Phone Number</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">+34 650 25 82 66</span>
        </div>
    </div>
    <div class="sectionContactInfo__card">
        <p class="sectionContactInfo__p">03</p>
        <img src="./icons//location.svg" alt="" class="sectionContactInfo__img">
        <div class="sectionContactInfo__text">
            <span class="sectionContactInfo__span sectionContactInfo__span--dark">Email</span>
            <span class="sectionContactInfo__span sectionContactInfo__span--light">halmoguerar@gmail.com</span>
        </div>
    </div>
</section>


<form action="" class="sectionContactForm">
    <div class="sectionContactForm__topGroup">
        <div class="sectionContactForm__group">
            <div class="sectionContactForm__container">
                <img src="./icons/userSmall.svg" alt="" class="sectionContactForm__img">
                <input  class="sectionContactForm__input" type="text" placeholder="Your full name">
            </div>
            <div class="sectionContactForm__container">
                <img src="./icons/phoneSmall.svg" alt="" class="sectionContactForm__img">
                <input  class="sectionContactForm__input" type="text" placeholder="Add phone number">
            </div>

        </div>

        <div class="sectionContactForm__group">
            <div class="sectionContactForm__container">
                <img src="./icons/mailSmall.svg" alt="" class="sectionContactForm__img">
                <input  class="sectionContactForm__input" type="email" placeholder="Enter email address">
            </div>
            <div class="sectionContactForm__container">
                <img src="./icons/copySmall.svg" alt="" class="sectionContactForm__img">
                <input  class="sectionContactForm__input" type="text" placeholder="Enter subject">
            </div>

        </div>
    
    </div>
    <div class="sectionContactForm__container">
        <img src="./icons/penSmall.svg" alt="" class="sectionContactForm__img--top">
        <textarea class="sectionContactForm__textArea" rows="10" placeholder="Enter message"></textarea>
    </div>
    <input type="submit" value="send" class="button button--dark sectionContactForm__input--center ">
</form>

{% endblock %}