{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/style.css">
    <title>Room Details</title>
</head>
<body>
    <header class="header">
        <div class="header__topContainer topContainer">
            <p class="topContainer__p">We Make Your Feel Comfortable</p>
        
            <nav class="nav">
                <img src="./icons/Menu.svg" alt="Menu" class="nav__icon" id="menuBtn">
                <div class="nav__logo logo">
                    <div class="logo__square logo__square--light">
                        <span class="logo__span">h</span>
                    </div>
                    <div class="logo__text">
                        <p class="logo__p--bold">hotel</p>
                        <p class="logo__p--regular">miranda</p>
                    </div>
                </div>
                <ul class=" header__ul header__ul--desktop">
                    <li class="header__li"><a href="./about.html" class="header__a">About Us</a></li>
                    <li class="header__li"><a href="./rooms.html" class="header__a">Rooms</a></li>
                    <li class="header__li"><a href="./offers.html" class="header__a">Offers</a></li>
                    <li class="header__li"><a href="./contact.html" class="header__a">Contact</a></li>
                </ul>
                <div class="nav__iconContainer">
                    <img src="./icons/user.svg" alt="user" class="nav__icon">
                    <img src="./icons/search.svg" alt="search" class="nav__icon">
                </div>
            </nav>
        </div>
        <div class="header__dropMenu" id="dropMenu">
            <ul class="header__ul">
                <li class="header__li"><a href="./about.html" class="header__a">About Us</a></li>
                <li class="header__li"><a href="./rooms.html" class="header__a">Rooms</a></li>
                <li class="header__li"><a href="./offers.html" class="header__a">Offers</a></li>
                <li class="header__li"><a href="./contact.html" class="header__a">Contact</a></li>
            </ul>
        </div>
    </header>
    <section class="sectionHero">
        <div class="sectionHero__container">
            <h2 class="sectionHero__h2">the ultimate luxury experience</h2>
            <h1 class="sectionHero__h1">Ultimate Room</h1>
            <div class="sectionHero__links">
                <p class="sectionHero__p"><a href="./index.html" class="sectionHero__a">Home</a> | Rooms Details </p>
            </div>

        </div>
    </section>

    <section class="sectionRoomMain">
        <div class="sectionRoomMain__flex">
            <div class="sectionRoomMain__container">
                <h2 class="sectionRoomMain__h2">double bed</h2>
                <h1 class="sectionRoomMain__h1">Luxury Double Bed </h1>
            </div>
            <p class=" sectionRoomMain__p sectionRoomMain__p--highlight">$345<span class="sectionRoomMain__span">/Night</span></p>
        </div>
        <img src="./images/room2.jpg" alt="" class="sectionRoomMain__img">
        <div class="sectionRoomMain__calendar">
            <h4 class="sectionRoomMain__h4">Check Availability</h4>
            <div class="sectionRoomMain__inputsContainer">
                <label for="arrivalDate" class="sectionRoomMain__label">Check In</label>
                <input type="date" name="" id="arrival Date" class="sectionRoomMain__input">

                <label for="departureDate" class="sectionRoomMain__label">Check Out</label>
                <input type="date" name="" id="departureDate" class="sectionRoomMain__input">

                <label for="Name" class="sectionRoomMain__label">Full Name</label>
                <input type="text" name="" id="Name" class="sectionRoomMain__input">

                <label for="email" class="sectionRoomMain__label">Email</label>
                <input type="email" name="" id="email" class="sectionRoomMain__input">

                <label for="phone" class="sectionRoomMain__label">Phone</label>
                <input type="text" name="" id="phone" class="sectionRoomMain__input">

                <label for="message" class="sectionRoomMain__label">Message (Special request)</label>
                <textarea rows="3" name="" id="message" class="sectionRoomMain__input"></textarea>
                
            </div>
            <button class="button button--dark">check avaliability</button> 
        </div>
         
    </section>

    <section class="sectionRoomDescription">
        <p class="sectionRoomDescription__p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis 
            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem 
            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
            incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <h2 class="sectionRoomDescription__h2">Amenities</h2>
    
        <div class="sectionRoomDescription__flex">
            <ul class="sectionRoomDescription__ul">
                <li class="sectionRoomDescription__li">
                    <img src="./icons/AC.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Air conditioner</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/breakfastSmall.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Breakfast</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/cleaning.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Cleaning</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/grocery.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Grocery</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/shop.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Shop Near</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/online.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">24/7 Online Support</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/security.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Smart Security</span>
                </li>
            
                <li class="sectionRoomDescription__li">
                    <img src="./icons/wifiSmall.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">High Speed WiFi</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/kitchen.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Kitchen</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/shower.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Shower</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/bedSmall.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Single Bed</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/towel.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Towels</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/key.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Strong Locker</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="./icons/teamSmall.svg" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Expert Team</span>
                </li>
            </ul>
        </div>    

        <div class="sectionRoomDescription__profileContainer">
            <img src="./images/ceo.jpg" alt="" class="sectionRoomDescription__profile">
            <div class="sectionRoomDescription__checkContainer">
                <img src="./icons/check.svg" alt="" class="sectionRoomDescription__profileCheck">
            </div>
        </div>
        <div class="sectionRoomDescription__profileText">
            <h2 class="sectionRoomDescription__h2">Rosalina D. William</h2>
            <h3 class="sectionRoomDescription__h3">Founder, Qux Co.</h3>
            <p class="sectionRoomDescription__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore.
            </p>
        </div>

        <h2 class="sectionRoomDescription__h2">Cancellation</h2>
        <p class="sectionRoomDescription__p">Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. 
            Fusce ut metus mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu dolor. 
            Cancel up to 14 days to get a full refund.
        </p>

        <h2 class="sectionRoomDescription__h2">Related Rooms</h2>

        

        <div class="swiper swiperCore2Slide">
            <div class="swiper-wrapper swiperCore2Slide__wrapper">
                <div class="swiper-slide swiperCore2Slide__slide">
                    <div class="roomCard">
                        <div class="roomCard__section">
                            <img src="./images/room1.jpg" alt="" class="swiperCore2Slide__img">
                        </div>
                        <div class="roomCard__section--text">
                            <div class="roomCard__section">
                                <div class="roomCard__icons">
                                    <img src="./icons/bed.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/wifi.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/parking.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/cold.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/gym.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/smoking.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/cocktail.svg" alt="" class="roomCard__icon">
                                </div>
                                <h3 class="roomCard__h3">Minimal Duplex Room</h3>
                                <p class="roomCard__p">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.</p>
                                
                                <div class="roomCard__section roomCard__section--price">
                                    <p class="roomCard__p--highlight">$345<span class="roomCard__span">/Night</span></p>
                                    <p class="roomCard__button"><a class="roomCard__a" href="./details.html">Book Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiperCore2Slide__container">
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--prev"><</div>
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--next">></div>
                    </div>

                </div>
                <div class="swiper-slide swiperCore2Slide__slide">
                    <div class="roomCard">
                        <div class="roomCard__section">
                            <img src="./images/room2.jpg" alt="" class="swiperCore2Slide__img">
                        </div>
                        <div class="roomCard__section--text">
                            <div class="roomCard__section">
                                <div class="roomCard__icons">
                                    <img src="./icons/bed.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/wifi.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/parking.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/cold.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/gym.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/smoking.svg" alt="" class="roomCard__icon">
                                    <img src="./icons/cocktail.svg" alt="" class="roomCard__icon">
                                </div>
                                <h3 class="roomCard__h3">Minimal Duplex Room</h3>
                                <p class="roomCard__p">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.</p>
                                
                                <div class="roomCard__section roomCard__section--price">
                                    <p class="roomCard__p--highlight">$345<span class="roomCard__span">/Night</span></p>
                                    <p class="roomCard__button"><a class="roomCard__a" href="./details.html">Book Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiperCore2Slide__container">
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--prev"><</div>
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--next">></div>
                    </div>

                </div>
                
              
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
                
            <div class="footer__section">
                <div class="logo">
                    <div class="logo__square logo__square--highlight">
                         <span class="logo__span logo__span--light">h</span>
                    </div>
                    <div class="logo__text">
                        <p class="logo__p--bold">hotel</p>
                        <p class="logo__p--regular">miranda</p>
                    </div>
                </div>
        
                <p class="footer__p">
                    Lorem ipsum dolor sit amet, consect etur adipisicing elit, 
                    sed doing eius mod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitat ion ullamco 
                    laboris nisi.
                </p>
                <div class="footer__socials">
                    <i class="fa-brands fa-square-facebook footer__icon"></i>
                    <i class="fa-brands fa-square-twitter footer__icon"></i>
                    <i class="fa-brands fa-square-behance footer__icon"></i>
                    <i class="fa-brands fa-linkedin footer__icon"></i>
                    <i class="fa-brands fa-square-youtube footer__icon"></i>
                </div>
            </div>
    
            <div class="footer__section">
                <h3 class="footer__h3">Services.</h3>
                <ul class="footer__ul">
                    <li class="footer__li">+ Restaurant & Bar</li>
                    <li class="footer__li">+ Swimming Pool</li>
                    <li class="footer__li">+ Wellness & Spa</li>
                    <li class="footer__li">+ Restaurant</li>
                    <li class="footer__li">+ Conference Room</li>
                    <li class="footer__li">+ Coctail Party House</li>
                    <li class="footer__li">+ Gaming Zone</li>
                    <li class="footer__li">+ Marriage Party</li>
                    <li class="footer__li">+ Party Planning</li>
                    <li class="footer__li">+ Tour Consultancy</li>
                </ul>
            </div>
            
            <div class="footer__section">
                
                <h3 class="footer__h3">Contact Us.</h3>
                <div class="footer__card">
                    <img src="./icons//phone.svg" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
                <div class="footer__card">
                    <img src="./icons//mail.svg" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
                <div class="footer__card">
                    <img src="./icons//location.svg" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__container">
                <p class="footer__p--bold">Copyright By@Example - 2020</p>
                <p class="footer__p--bold">Terms of use|Privacy Environmental Policy</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c45d098780.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="./javascript/script.js"></script>
</html>