{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="sectionHero">
    <div class="sectionHero__container">
        <h2 class="sectionHero__h2">{room.room_type}</h2>
        <h1 class="sectionHero__h1">Ultimate Room</h1>
        <div class="sectionHero__links">
            <p class="sectionHero__p"><a href="{% url 'index' %}" class="sectionHero__a">Home</a> | Rooms Details </p>
        </div>

    </div>
</section>

<section class="sectionRoomMain">
    

    <div class="sectionRoomMain__flex">
        <div class="sectionRoomMain__container">
            <h2 class="sectionRoomMain__h2">{{room.room_type}}</h2>
            <h1 class="sectionRoomMain__h1">Luxury {{room.room_type}} </h1>
        </div>
        <p class=" sectionRoomMain__p sectionRoomMain__p--highlight">{{room.price_night}}<span class="sectionRoomMain__span">/Night</span></p>
    </div>
    <img src={{room.photo}} alt="" class="sectionRoomMain__img">
    <form class="sectionRoomMain__calendar" method="POST">
        <h4 class="sectionRoomMain__h4">Check Availability</h4>
        {% csrf_token %}
        <div class="sectionRoomMain__inputsContainer">
            <label class="sectionRoomMain__label">Check In</label>
            {{ form.check_in }}

            <label class="sectionRoomMain__label">Check Out</label>
            {{ form.check_out }}

            <label class="sectionRoomMain__label">Full Name</label>
            {{ form.full_name }}

            <label class="sectionRoomMain__label">Email</label>
            {{ form.email }}

            <label class="sectionRoomMain__label">Phone</label>
            {{ form.phone }}

            <label class="sectionRoomMain__label">Message (Special request)</label>
            {{ form.message }}
            
        </div>
        <button class="button button--dark" type="submit">check avaliability</button> 
    </form>
    {% if messages %}
    <div id="message" class="message {% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
    </div>

    {% endif %}
</section>

<section class="sectionRoomDescription">
    <p class="sectionRoomDescription__p">
        {{room.description}}
    </p>
    <h2 class="sectionRoomDescription__h2">Amenities</h2>

    <div class="sectionRoomDescription__flex">
        <ul class="sectionRoomDescription__ul">
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/AC.svg' %}"alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Air conditioner</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/breakfastSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Breakfast</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/cleaning.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Cleaning</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/grocery.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Grocery</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/shop.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Shop Near</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/online.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">24/7 Online Support</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/security.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Smart Security</span>
            </li>
        
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/wifiSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">High Speed WiFi</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/kitchen.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Kitchen</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/shower.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Shower</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/bedSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Single Bed</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/towel.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Towels</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/key.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Strong Locker</span>
            </li>
            <li class="sectionRoomDescription__li">
                <img src="{% static 'icons/teamSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                <span class="sectionRoomDescription__span">Expert Team</span>
            </li>
        </ul>
    </div>    

    <div class="sectionRoomDescription__profileContainer">
        <img src="{% static 'images/ceo.jpg' %}" alt="" class="sectionRoomDescription__profile">
        <div class="sectionRoomDescription__checkContainer">
            <img src="{% static 'icons/check.svg' %}" alt="" class="sectionRoomDescription__profileCheck">
        </div>
    </div>
    <div class="sectionRoomDescription__profileText">
        <h2 class="sectionRoomDescription__h2">Rosalina D. William</h2>
        <h3 class="sectionRoomDescription__h3">Founder, Qux Co.</h3>
        <p class="sectionRoomDescription__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore.
        </p>
    </div>

    <h2 class="sectionRoomDescription__h2">Cancellation</h2>
    <p class="sectionRoomDescription__p">Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. 
        Fusce ut metus mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu dolor. 
        Cancel up to 14 days to get a full refund.
    </p>

    <h2 class="sectionRoomDescription__h2">Related Rooms</h2>
</section>

<div class="swiper swiperIndex">
    <div class="swiper-wrapper swiperIndex__wrapper">
        {% if single_bed %}
        <div class="swiper-slide swiperIndex__swiperSlide">
            <div class="swiperIndex__slideTop">
                <img src="{% static 'icons/bed.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/wifi.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/parking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cold.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/gym.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/smoking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="swiper__icon">
            </div>
            <img src="{{single_bed.photo}}" alt="" class="swiperIndex__img">
            <div class="swiperIndex__swiperBottom swiperBotton">
                <h3 class="swiperBotton__h3">{{single_bed.room_type}}</h3>
                <p class="swiperBotton__p">{{single_bed.description}}</p>
                <p class="swiperBotton__p--highlight">${{single_bed.price_night}}<span class="swiperBotton__span">/Night</span></p>
            </div>
        </div>
        {% endif %}
        {% if double_bed %}
        <div class="swiper-slide swiperIndex__swiperSlide">
            <div class="swiperIndex__slideTop">
                <img src="{% static 'icons/bed.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/wifi.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/parking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cold.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/gym.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/smoking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="swiper__icon">
            </div>
            <img src="{{double_bed.photo}}" alt="" class="swiperIndex__img">
            <div class="swiperIndex__swiperBottom swiperBotton">
                <h3 class="swiperBotton__h3">{{double_bed.room_type}}</h3>
                <p class="swiperBotton__p">{{double_bed.description}}</p>
                <p class="swiperBotton__p--highlight">${{double_bed.price_night}}<span class="swiperBotton__span">/Night</span></p>
            </div>
        </div>
        {% endif %}
        {% if double_superior %}
        <div class="swiper-slide swiperIndex__swiperSlide">
            <div class="swiperIndex__slideTop">
                <img src="{% static 'icons/bed.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/wifi.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/parking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cold.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/gym.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/smoking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="swiper__icon">
            </div>
            <img src="{{ double_superior.photo }}" alt="" class="swiperIndex__img">
            <div class="swiperIndex__swiperBottom swiperBotton">
                <h3 class="swiperBotton__h3">{{double_superior.room_type}}</h3>
                <p class="swiperBotton__p">{{double_superior.description}}</p>
                <p class="swiperBotton__p--highlight">${{double_superior.price_night}}<span class="swiperBotton__span">/Night</span></p>
            </div>
        </div>
        {% endif %}
        {% if suite %}
        <div class="swiper-slide swiperIndex__swiperSlide">
            <div class="swiperIndex__slideTop">
                <img src="{% static 'icons/bed.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/wifi.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/parking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cold.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/gym.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/smoking.svg' %}" alt="" class="swiper__icon">
                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="swiper__icon">
            </div>
            <img src="{{suite.photo}}" alt="" class="swiperIndex__img">
            <div class="swiperIndex__swiperBottom swiperBotton">
                <h3 class="swiperBotton__h3">{{suite.room_type}}</h3>
                <p class="swiperBotton__p">{{suite.description}}</p>
                <p class="swiperBotton__p--highlight">${{suite.price_night}}<span class="swiperBotton__span">/Night</span></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}