{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Room Details</title>
</head>
<body>
    <header class="header">
        <div class="header__topContainer topContainer">
            <p class="topContainer__p">We Make Your Feel Comfortable</p>
        
            <nav class="nav">
                <img src="{% static 'icons/Menu.svg' %}" alt="Menu" class="nav__icon" id="menuBtn">
                <div class="nav__logo logo">
                    <div class="logo__square logo__square--light">
                        <span class="logo__span">h</span>
                    </div>
                    <div class="logo__text">
                        <p class="logo__p--bold">hotel</p>
                        <p class="logo__p--regular">miranda</p>
                    </div>
                </div>
                <ul class=" header__ul header__ul--desktop">
                    <li class="header__li"><a href="./about.html" class="header__a">About Us</a></li>
                    <li class="header__li"><a href="./rooms.html" class="header__a">Rooms</a></li>
                    <li class="header__li"><a href="./offers.html" class="header__a">Offers</a></li>
                    <li class="header__li"><a href="./contact.html" class="header__a">Contact</a></li>
                </ul>
                <div class="nav__iconContainer">
                    <img src="{% static 'icons/user.svg' %}" alt="user" class="nav__icon">
                    <img src="{% static 'icons/search.svg' %}" alt="search" class="nav__icon">
                </div>
            </nav>
        </div>
        <div class="header__dropMenu" id="dropMenu">
            <ul class="header__ul">
                <li class="header__li"><a href="./about.html" class="header__a">About Us</a></li>
                <li class="header__li"><a href="./rooms.html" class="header__a">Rooms</a></li>
                <li class="header__li"><a href="./offers.html" class="header__a">Offers</a></li>
                <li class="header__li"><a href="./contact.html" class="header__a">Contact</a></li>
            </ul>
        </div>
    </header>
    <section class="sectionHero">
        <div class="sectionHero__container">
            <h2 class="sectionHero__h2">{room.room_type}</h2>
            <h1 class="sectionHero__h1">Ultimate Room</h1>
            <div class="sectionHero__links">
                <p class="sectionHero__p"><a href="./index.html" class="sectionHero__a">Home</a> | Rooms Details </p>
            </div>

        </div>
    </section>

    <section class="sectionRoomMain">
        <div class="sectionRoomMain__flex">
            <div class="sectionRoomMain__container">
                <h2 class="sectionRoomMain__h2">{{room.room_type}}</h2>
                <h1 class="sectionRoomMain__h1">Luxury {{room.room_type}} </h1>
            </div>
            <p class=" sectionRoomMain__p sectionRoomMain__p--highlight">{{room.price_night}}<span class="sectionRoomMain__span">/Night</span></p>
        </div>
        <img src={{room.photo}} alt="" class="sectionRoomMain__img">
        <form class="sectionRoomMain__calendar" method="POST">
            <h4 class="sectionRoomMain__h4">Check Availability</h4>
            {% csrf_token %}
            <div class="sectionRoomMain__inputsContainer">
                <label class="sectionRoomMain__label">Check In</label>
                {{ form.check_in }}

                <label class="sectionRoomMain__label">Check Out</label>
               {{ form.check_out }}

                <label class="sectionRoomMain__label">Full Name</label>
                {{ form.full_name }}

                <label class="sectionRoomMain__label">Email</label>
                {{ form.email }}

                <label class="sectionRoomMain__label">Phone</label>
                {{ form.phone }}

                <label class="sectionRoomMain__label">Message (Special request)</label>
                {{ form.message }}
                
            </div>
            <button class="button button--dark" type="submit">check avaliability</button> 
        </form>
         
    </section>

    <section class="sectionRoomDescription">
        <p class="sectionRoomDescription__p">
           {{room.description}}
        </p>
        <h2 class="sectionRoomDescription__h2">Amenities</h2>
    
        <div class="sectionRoomDescription__flex">
            <ul class="sectionRoomDescription__ul">
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/AC.svg' %}"alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Air conditioner</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/breakfastSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Breakfast</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/cleaning.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Cleaning</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/grocery.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Grocery</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/shop.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Shop Near</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/online.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">24/7 Online Support</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/security.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Smart Security</span>
                </li>
            
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/wifiSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">High Speed WiFi</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/kitchen.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Kitchen</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/shower.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Shower</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/bedSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Single Bed</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/towel.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Towels</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/key.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Strong Locker</span>
                </li>
                <li class="sectionRoomDescription__li">
                    <img src="{% static 'icons/teamSmall.svg' %}" alt="" class="sectionRoomDescription__img">
                    <span class="sectionRoomDescription__span">Expert Team</span>
                </li>
            </ul>
        </div>    

        <div class="sectionRoomDescription__profileContainer">
            <img src="{% static 'images/ceo.jpg' %}" alt="" class="sectionRoomDescription__profile">
            <div class="sectionRoomDescription__checkContainer">
                <img src="{% static 'icons/check.svg' %}" alt="" class="sectionRoomDescription__profileCheck">
            </div>
        </div>
        <div class="sectionRoomDescription__profileText">
            <h2 class="sectionRoomDescription__h2">Rosalina D. William</h2>
            <h3 class="sectionRoomDescription__h3">Founder, Qux Co.</h3>
            <p class="sectionRoomDescription__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore.
            </p>
        </div>

        <h2 class="sectionRoomDescription__h2">Cancellation</h2>
        <p class="sectionRoomDescription__p">Phasellus volutpat neque a tellus venenatis, a euismod augue facilisis. 
            Fusce ut metus mattis, consequat metus nec, luctus lectus. Pellentesque orci quis hendrerit sed eu dolor. 
            Cancel up to 14 days to get a full refund.
        </p>

        <h2 class="sectionRoomDescription__h2">Related Rooms</h2>

        

        <div class="swiper swiperCore2Slide">
            <div class="swiper-wrapper swiperCore2Slide__wrapper">
                <div class="swiper-slide swiperCore2Slide__slide">
                    <div class="roomCard">
                        <div class="roomCard__section">
                            <img src="{% static 'images/room1.jpg' %}" alt="" class="swiperCore2Slide__img">
                        </div>
                        <div class="roomCard__section--text">
                            <div class="roomCard__section">
                                <div class="roomCard__icons">
                                    <img src="{% static 'icons/bed.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/wifi.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/parking.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/cold.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/gym.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/smoking.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/cocktail.svg' %}" alt="" class="roomCard__icon">
                                </div>
                                <h3 class="roomCard__h3">Minimal Duplex Room</h3>
                                <p class="roomCard__p">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.</p>
                                
                                <div class="roomCard__section roomCard__section--price">
                                    <p class="roomCard__p--highlight">$345<span class="roomCard__span">/Night</span></p>
                                    <p class="roomCard__button"><a class="roomCard__a" href="./details.html">Book Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiperCore2Slide__container">
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--prev"><</div>
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--next">></div>
                    </div>

                </div>
                <div class="swiper-slide swiperCore2Slide__slide">
                    <div class="roomCard">
                        <div class="roomCard__section">
                            <img src="{% static 'images/room2.jpg' %}" alt="" class="swiperCore2Slide__img">
                        </div>
                        <div class="roomCard__section--text">
                            <div class="roomCard__section">
                                <div class="roomCard__icons">
                                    <img src="{% static 'icons/bed.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/wifi.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/parking.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/cold.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/gym.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/smoking.svg' %}" alt="" class="roomCard__icon">
                                    <img src="{% static 'icons/cocktail.svg' %}" alt="" class="roomCard__icon">
                                </div>
                                <h3 class="roomCard__h3">Minimal Duplex Room</h3>
                                <p class="roomCard__p">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.</p>
                                
                                <div class="roomCard__section roomCard__section--price">
                                    <p class="roomCard__p--highlight">$345<span class="roomCard__span">/Night</span></p>
                                    <p class="roomCard__button"><a class="roomCard__a" href="./details.html">Book Now</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiperCore2Slide__container">
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--prev"><</div>
                        <div class="swiperCore2Slide__button swiperCore2Slide__button--next">></div>
                    </div>

                </div>
                
              
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__inner">
                
            <div class="footer__section">
                <div class="logo">
                    <div class="logo__square logo__square--highlight">
                         <span class="logo__span logo__span--light">h</span>
                    </div>
                    <div class="logo__text">
                        <p class="logo__p--bold">hotel</p>
                        <p class="logo__p--regular">miranda</p>
                    </div>
                </div>
        
                <p class="footer__p">
                    Lorem ipsum dolor sit amet, consect etur adipisicing elit, 
                    sed doing eius mod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitat ion ullamco 
                    laboris nisi.
                </p>
                <div class="footer__socials">
                    <i class="fa-brands fa-square-facebook footer__icon"></i>
                    <i class="fa-brands fa-square-twitter footer__icon"></i>
                    <i class="fa-brands fa-square-behance footer__icon"></i>
                    <i class="fa-brands fa-linkedin footer__icon"></i>
                    <i class="fa-brands fa-square-youtube footer__icon"></i>
                </div>
            </div>
    
            <div class="footer__section">
                <h3 class="footer__h3">Services.</h3>
                <ul class="footer__ul">
                    <li class="footer__li">+ Restaurant & Bar</li>
                    <li class="footer__li">+ Swimming Pool</li>
                    <li class="footer__li">+ Wellness & Spa</li>
                    <li class="footer__li">+ Restaurant</li>
                    <li class="footer__li">+ Conference Room</li>
                    <li class="footer__li">+ Coctail Party House</li>
                    <li class="footer__li">+ Gaming Zone</li>
                    <li class="footer__li">+ Marriage Party</li>
                    <li class="footer__li">+ Party Planning</li>
                    <li class="footer__li">+ Tour Consultancy</li>
                </ul>
            </div>
            
            <div class="footer__section">
                
                <h3 class="footer__h3">Contact Us.</h3>
                <div class="footer__card">
                    <img src="{% static '/icons//phone.svg' %}" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
                <div class="footer__card">
                    <img src="{% static '/icons//mail.svg' %}" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
                <div class="footer__card">
                    <img src="{% static '/icons//location.svg' %}" alt="" class="footer__img">
                    <div class="footer__text">
                        <span class="footer__span footer__span--dark">Phone Number</span>
                        <span class="footer__span footer__span--light">+987 876 765 76 577</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__container">
                <p class="footer__p--bold">Copyright By@Example - 2020</p>
                <p class="footer__p--bold">Terms of use|Privacy Environmental Policy</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c45d098780.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static '/javascript/script.js' %}"></script>
</html>