{% extends 'base.html' %}
{% load static %}
{% block content %} 
<section class="sectionHero">
    <div class="sectionHero__container">
        <h2 class="sectionHero__h2">the ultimate luxury experience</h2>
        <h1 class="sectionHero__h1">Rooms Offers</h1>
        <div class="sectionHero__links">
            <p class="sectionHero__p"><a href="{% url 'index' %}" class="sectionHero__a">Home</a> | Offers | Luxury Double Bed </p>
        </div>

    </div>
</section>

<section class="sectionOffers">
    {% for room in rooms %}
    <div class="sectionOffers__card">
        <div class="sectionOffers__imgContainer">
            <img src="{{room.photo}}" alt="" class="sectionOffers__img">
            <div class="sectionOffers__prices">
                <p class="sectionOffers__p--highlight">${{room.price_night}}</p>
                <span class="sectionOffers__span">/Night</span>
                <p class="sectionOffers__p--red">${{room.discount_price}}<span class="sectionOffers__span--red">/Night</span></p>
            </div>
        </div>
        <div class="sectionOffers__text">
            <div class="sectionOffers__topText">
                <div class="topText__container">
                    <h2 class="sectionOffers__h2">{{room.room_type}}</h2>
                    <h1 class="sectionOffers__h1">Luxury {{room.room_type}}</h1>
                </div>
                <div class="sectionOffers__prices--alt">
                    <div>
                        <p class="sectionOffers__p--highlight">${{room.price_night}}</p>
                        <span class="sectionOffers__span">/Night</span>
                    </div>
                    <p class="sectionOffers__p--red">${{room.discount_price}}<span class="sectionOffers__span--red">/Night</span></p>
                </div>
            </div>
            <div class="sectionOffers__bottomText">
                <p class="sectionOffers__p">{{room.description}}</p>
                <div class="sectionOffers__flex">
                    <ul class="sectionOffers__ul">
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/AC.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Air conditioner</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/breakfastSmall.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Breakfast</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/cleaning.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Cleaning</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/grocery.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Grocery</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/shop.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Shop Near</span>
                        </li>
                    </ul>

                    <ul class="sectionOffers__ul">
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/wifiSmall.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">High Speed WiFi</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/kitchen.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Kitchen</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/shower.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Shower</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/bedSmall.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Single Bed</span>
                        </li>
                        <li class="sectionOffers__li">
                            <img src="{% static '/icons/towel.svg' %}" alt="" class="sectionOffers__icon">
                            <span class="sectionOffers__span">Towels</span>
                        </li>
                    </ul>
                </div>    

            </div>
            <button class="button button--dark"><a class="sectionOffers__a" href="{% url 'room_details' room.id %}">Book Now</a></button>
        </div>
    </div>
    {% endfor %}
</section>

<section class="sectionControls">
    {% if rooms.has_previous %}
    <a class="sectionControls__button" href="?page=1">
        <img src="{% static 'icons/doubleArrowL.svg' %}" alt="">
    </a>
    {% endif %}
    {% for num in rooms.paginator.page_range %}
    <a class="sectionControls__button {% if num == rooms.number %}sectionControls__button--active{% endif %}" href="?page={{ num }}">
        <p class="sectionControls__p">{{ num }}</p>
    </a>
    {% endfor %}
    {% if rooms.has_next %}
    <a class="sectionControls__button" href="?page={{ rooms.paginator.num_pages }}">
        <img src="{% static 'icons/doubleArrowR.svg' %}" alt="">
    </a>
    {% endif %}
</section>

<section class="sectionPopularList">
    <h3 class="sectionPopularList__h3">popular List</h3>
    <h1 class="sectionPopularList__h1">Popular Rooms</h1>

    <div class="swiper swiperOffers">
        <div class="swiper-wrapper swiperOffers__wrapper">
            {% if suite %}
            <div class="swiper-slide swiperOffers__slide">
                <div class="roomCard">
                    <div class="roomCard__section">
                        <img src="{{suite.photo}}" alt="" class="roomCard__img">
                    </div>
                    <div class="roomCard__section--text">
                        <div class="roomCard__section--text">
                            <div class="roomCard__icons">
                                <img src="{% static 'icons/bed.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/wifi.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/parking.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/cold.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/gym.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/smoking.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="roomCard__icon">
                            </div>
                            <h3 class="roomCard__h3">{{suite.room_type}}</h3>
                            <p class="roomCard__p">{{suite.description}}</p>
                            
                            <div class="roomCard__section roomCard__section--price">
                                <p class="roomCard__p--highlight">${{suite.price_night}}<span class="roomCard__span">/Night</span></p>
                                <p class="roomCard__button"><a class="roomCard__a" href="{% url 'room_details' suite.id %}">Book Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if double_superior %}
            <div class="swiper-slide swiperOffers__slide">
                <div class="roomCard">
                    <div class="roomCard__section">
                        <img src="{{double_superior.photo}}" alt="" class="roomCard__img">
                    </div>
                    <div class="roomCard__section--text">
                        <div class="roomCard__section--text">
                            <div class="roomCard__icons">
                                <img src="{% static 'icons/bed.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/wifi.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/parking.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/cold.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/gym.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/smoking.svg' %}" alt="" class="roomCard__icon">
                                <img src="{% static 'icons/cocktail.svg' %}" alt="" class="roomCard__icon">
                            </div>
                            <h3 class="roomCard__h3">{{double_superior.room_type}}</h3>
                            <p class="roomCard__p">{{double_superior.description}}</p>
                            
                            <div class="roomCard__section roomCard__section--price">
                                <p class="roomCard__p--highlight">${{double_superior.price_night}}<span class="roomCard__span">/Night</span></p>
                                <p class="roomCard__button"><a class="roomCard__a" href="{% url 'room_details' double_superior.id %}">Book Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}