.swiper-slide {
  height: 300px;
  margin: 3em 0 15em 0;
}

.swiperIndex {
  width: 100%;
}
.swiperIndex__wrapper {
  width: 100%;
}
.swiperIndex__slideTop {
  width: 70%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  position: absolute;
  top: -3em;
  left: 15%;
}
.swiperIndex__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperIndex__img {
  object-fit: cover;
  object-position: center 70%;
  width: 100%;
  height: 100%;
}
.swiperIndex__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
  margin-bottom: 1em;
}
.swiperIndex__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}
.swiperIndex__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperIndex__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}
.swiperIndex__button--prev {
  background-color: #FFF;
}

.swiperBotton {
  width: 70%;
  position: absolute;
  bottom: -13em;
  left: 15%;
  height: 200px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  grid-template-areas: "title" "text" "price";
  gap: 1em;
  padding: 1em;
}
.swiperBotton__h3 {
  vertical-align: middle;
  grid-area: title;
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -1.2px;
}
.swiperBotton__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.swiperBotton__p {
  vertical-align: middle;
  min-height: 96px;
  grid-area: text;
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperBotton__p--highlight {
  grid-area: price;
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}

@media only screen and (min-width: 1000px) {
  .swiper-slide {
    height: 500px;
  }
  .swiperIndex {
    max-width: 1920px;
    overflow-x: hidden;
  }
  .swiperIndex__slide {
    height: 100px;
  }
  .swiperIndex .swiperBotton {
    width: 90%;
    bottom: -13em;
    left: 5%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    grid-template-areas: "title price" "text price";
    gap: 1em;
    padding: 2.5em;
  }
  .swiperIndex .swiperBotton__h3 {
    text-align: left;
  }
  .swiperIndex .swiperBotton__span {
    text-align: left;
  }
  .swiperIndex .swiperBotton__p {
    text-align: left;
  }
  .swiperIndex .swiperBotton__p--highlight {
    text-align: left;
  }
}/*# sourceMappingURL=swiperIndex.css.map */