@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
.topContainer {
  background-color: #222;
  margin: 0 auto;
  max-width: 1420px;
}
.topContainer__p {
  padding: 0.5em 0;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}

@media only screen and (min-width: 1000px) {
  .topContainer {
    height: 100px;
    padding: 1.1rem 0;
    z-index: 9;
    width: 100%;
  }
  .topContainer__p {
    display: block;
    margin: 0 auto;
  }
}
.header {
  position: relative;
}
.header__dropMenu {
  width: 100%;
  position: absolute;
  background-color: #FFF;
  padding: 2em;
  z-index: 5;
  display: none;
}
.header__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header__ul--desktop {
  display: none;
}
.header__li {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__a {
  text-decoration: none;
}
.header__a:visited {
  color: #111;
}

@media only screen and (min-width: 1000px) {
  .header {
    margin: 0 auto;
    z-index: 8;
    width: 100%;
    height: 100px;
    background-color: #222;
  }
  .header__ul--desktop {
    display: flex;
    flex-direction: row;
  }
}
.nav {
  background-color: #FFF;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.nav__iconContainer {
  display: flex;
  gap: 2em;
  margin-left: auto;
}
.nav__icon {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
}
.nav__a {
  cursor: pointer;
  color: #111;
  text-decoration: none;
}
.nav__a:visited {
  color: #111;
}

@media only screen and (min-width: 1000px) {
  .nav {
    max-width: 1420px;
    margin: 0 auto;
  }
  .nav #menuBtn {
    display: none;
  }
}
.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}
.logo__square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
}
.logo__square--light {
  background-color: #FFF;
}
.logo__square--highlight {
  background-color: #BEAD8E;
}
.logo__span {
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.logo__text {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.logo__p--regular {
  font-weight: 400;
}
.logo__p--bold {
  font-weight: 700;
}

.sectionHero {
  z-index: 0;
  position: relative;
  background-image: url("../images/home.jpg");
  background-position: center center;
  background-size: cover;
}
.sectionHero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sectionHero__container {
  text-align: left;
  padding: 8em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sectionHero__btnContainer {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sectionHero__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #FFF;
}
.sectionHero__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #FFF;
}
.sectionHero__links {
  background-color: #FFF;
  padding: 2em;
  margin-left: auto;
  position: relative;
  bottom: -8rem;
}
.sectionHero__p {
  text-align: center;
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.sectionHero__a {
  cursor: pointer;
  color: #111;
  text-decoration: none;
}
.sectionHero__a:visited {
  color: #111;
}

@media only screen and (min-width: 1000px) {
  .sectionHero {
    background-position: center 70%;
  }
  .sectionHero__container {
    margin: 0 auto;
    max-width: 1420px;
  }
  .sectionHero__btnContainer {
    flex-direction: row;
  }
}
.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.sectionCalendar {
  background-color: #222;
  padding: 2em 1em;
}
.sectionCalendar__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sectionCalendar__inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.sectionCalendar__label {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionCalendar__input {
  background: transparent;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #777;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  padding-bottom: 0.5em;
}

@media only screen and (min-width: 1000px) {
  .sectionCalendar__container {
    flex-direction: row;
    max-width: 1420px;
    margin: 0 auto;
  }
  .sectionCalendar__inputContainer {
    max-width: 330px;
  }
  .sectionCalendar__btnContainer {
    margin-left: auto;
  }
}
.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.sectionAbout {
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
}
.sectionAbout__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.sectionAbout__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.sectionAbout__h3 {
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
  z-index: 2;
}
.sectionAbout__h3--light {
  color: #FFF;
}
.sectionAbout__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionAbout__flex {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sectionAbout__container {
  max-width: 350px;
  height: 400px;
}
.sectionAbout__container--text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}
.sectionAbout__container--dark {
  background-color: #222;
}
.sectionAbout__icon {
  z-index: 2;
}
.sectionAbout__shadow {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 1;
  width: 50%;
}
.sectionAbout__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media only screen and (min-width: 1000px) {
  .sectionAbout {
    margin: 0 auto;
    padding: 8em 0;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2em;
  }
  .sectionAbout__grid {
    display: grid;
    grid-template-areas: "area2 area1" "area3 area4";
    gap: 0 2em;
  }
  .sectionAbout__container--area1 {
    grid-area: area1;
    margin-top: 2em;
  }
  .sectionAbout__container--area2 {
    grid-area: area2;
  }
  .sectionAbout__container--area3 {
    grid-area: area3;
    margin-bottom: 2em;
  }
  .sectionAbout__container--area4 {
    grid-area: area4;
    align-self: flex-end;
  }
  .sectionAbout__container__container {
    max-width: 450px;
    height: 100%;
    max-height: 600px;
  }
}
.sectionRoom {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 0;
  text-align: center;
}
.sectionRoom__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.sectionRoom__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.sectionRoom__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -1.2px;
}
.sectionRoom__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionRoom__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.sectionRoom__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.sectionRoom__swiperTop {
  z-index: 3;
  width: 70%;
  max-width: 350px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin-bottom: -5.5rem;
}
.sectionRoom__swiperBottom {
  margin-top: -5.5rem;
  z-index: 3;
  width: 90%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 2em;
}

@media only screen and (min-width: 1000px) {
  .sectionRoom {
    max-width: 1420px;
    margin: 0 auto;
  }
  .sectionRoom__swiperBottom {
    flex-direction: row;
    align-items: center;
    text-align: left;
    max-width: 30%;
  }
}
.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.sectionVideo {
  background-color: #222;
  padding: 8em 1em 3em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 85rem;
}
.sectionVideo__h2 {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  grid-area: area1;
}
.sectionVideo__h1 {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  grid-area: area2;
}
.sectionVideo__p {
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  grid-area: area3;
  max-width: 485px;
}
.sectionVideo__video {
  width: 100%;
  height: 100%;
  max-height: 460px;
  grid-area: area4;
}
.sectionVideo__button {
  grid-area: area5;
}

@media only screen and (min-width: 1000px) {
  .sectionVideo {
    background: linear-gradient(to right, #222 0%, #222 70%, #BEAD8E 70%, #BEAD8E 100%);
    height: auto;
  }
  .sectionVideo__container {
    display: grid;
    grid-template-areas: "area1 area4" "area2 area4" "area3 area4" "area5 area4";
    align-items: center;
    margin: 0 auto;
    max-width: 1420px;
  }
}
.sectionFacilities {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  padding: 8em 1em 0 1em;
  text-align: center;
}
.sectionFacilities--dark {
  background-color: #222;
  padding: 8em 1em 4em 1em;
}
.sectionFacilities__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.sectionFacilities__h2--light {
  color: #FFF;
}
.sectionFacilities__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.sectionFacilities__h1--light {
  color: #FFF;
}

.sectionMenu {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 5em 1em 5em 1em;
  max-width: 1420px;
  overflow-x: hidden;
}
.sectionMenu__h2 {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777;
}
.sectionMenu__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
  color: #111;
}
.sectionMenu__img {
  width: 11rem;
  height: 11rem;
  margin-left: calc(100% - 6rem);
}
.sectionMenu__controls {
  display: flex;
  gap: 3em;
  justify-content: flex-end;
}

@media only screen and (min-width: 1000px) {
  .sectionMenu__img {
    margin-left: 0px;
  }
  .sectionMenu__controls {
    display: none;
  }
}
.button {
  width: 21rem;
  height: 6rem;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button--dark {
  background-color: #BEAD8E;
  border: none;
}
.button--light {
  background-color: transparent;
  margin-bottom: 5em;
}

.swiperCore {
  width: 100%;
}
.swiperCore__wrapper {
  width: 100%;
}
.swiperCore__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperCore__img {
  width: 100%;
  height: 100%;
}
.swiperCore__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperCore__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperCore__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperCore__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}
.swiperCore__button--prev {
  background-color: #FFF;
}

@media only screen and (min-width: 1000px) {
  .swiperCore {
    max-width: 1920px;
    overflow-x: hidden;
  }
  .swiperCore__slide {
    height: 100px;
  }
}
.swiperPagination {
  max-width: 1420px;
  width: 100%;
}
.swiperPagination--dark {
  background-color: #292929;
}
.swiperPagination__img {
  transition: 0.5s;
}
.swiperPagination__img:hover {
  scale: 1.2;
}
.swiperPagination__wrapper {
  height: 100%;
  width: 100%;
}
.swiperPagination__slide {
  padding: 1em;
  display: flex;
  padding-top: 8em;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  text-align: left;
  position: relative;
}
.swiperPagination__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperPagination__span--dark {
  color: #111;
}
.swiperPagination__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperPagination__h3--light {
  color: #FFF;
}
.swiperPagination__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperPagination__p--light {
  color: #FFF;
}
.swiperPagination__bullets, .swiperPagination__bullets--photo {
  --swiper-pagination-color:#BEAD8E;
  align-self: center;
}

.swiperColumn {
  align-self: center;
  max-width: 370px;
}
.swiperColumn__wrapper {
  width: 100%;
}
.swiperColumn__img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center center;
}
.swiperColumn__slide {
  overflow: hidden;
  height: 120px;
  display: flex;
  gap: 2em;
  align-items: center;
}
.swiperColumn__slide:hover {
  background-color: #222;
}
.swiperColumn__slide:hover .swiperColumn__p, .swiperColumn__slide:hover .swiperColumn__h3 {
  color: #FFF;
}
.swiperColumn__text {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.swiperColumn__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.72px;
}
.swiperColumn__p {
  color: #111;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.72px;
}
.swiperColumn__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperColumn__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}
.swiperColumn__button--prev {
  background-color: #FFF;
}

@media only screen and (min-width: 1000px) {
  .swiperColumn {
    max-width: 100%;
  }
}
.swiperFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}
.swiperFlex__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.swiperFlex__wrapper {
  height: 37rem;
  width: 100%;
}
.swiperFlex__slide {
  width: 100%;
}
.swiperFlex__span {
  color: rgba(34, 34, 34, 0.04);
  font-family: "Archivo", sans-serif;
  font-size: 12rem;
  font-style: normal;
  font-weight: 700;
  line-height: 13rem;
  position: absolute;
  top: 0;
  right: 0;
}
.swiperFlex__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.9px;
}
.swiperFlex__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.swiperFlex__bullets {
  --swiper-pagination-color:#BEAD8E;
  text-align: center;
}

.sectionDetails {
  background-color: #222;
}
.sectionDetails__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding: 8em 1em;
  text-align: center;
}
.sectionDetails__span {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.sectionDetails__span--small {
  font-size: 1.6rem;
}
.sectionDetails__p {
  margin-top: -3rem;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

@media only screen and (min-width: 1000px) {
  .sectionDetails__container {
    margin: 0 auto;
    max-width: 1420px;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
  }
}
.footer {
  background-image: url("../images/footerBg.png");
}
.footer__inner {
  padding: 8em 1em 0em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem;
}
.footer__p--bold {
  color: #686868;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}
.footer__socials {
  display: flex;
  gap: 1em;
}
.footer__icon {
  font-size: 2.4rem;
  color: #777;
}
.footer__icon:hover {
  color: #BEAD8E;
}
.footer__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30rem;
}
.footer__li {
  list-style: none;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
}
.footer__card {
  display: flex;
  align-items: center;
  gap: 2em;
}
.footer__img {
  width: 4rem;
  height: 4rem;
}
.footer__span {
  display: block;
}
.footer__span--dark {
  color: #686868;
  font-family: "Old Standard TT", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.footer__span--light {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}
.footer__bottom {
  background: #F8F8F8;
}

@media only screen and (min-width: 1000px) {
  .footer {
    background-image: url("../images/footerBg.png");
  }
  .footer__inner {
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }
  .footer__section {
    max-width: 370px;
  }
  .footer__container {
    max-width: 1420px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.sectionHotelDescription {
  padding: 8em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  z-index: 0;
  position: relative;
}
.sectionHotelDescription__video {
  margin: 0 auto;
  width: 100%;
  height: 270px;
}
.sectionHotelDescription__restaurant {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionHotelDescription__restaurant .restaurant__container {
  max-width: 481px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
.sectionHotelDescription__h1 {
  color: #111;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.16px;
}
.sectionHotelDescription__h1--left {
  text-align: left;
}
.sectionHotelDescription__h2 {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionHotelDescription__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionHotelDescription__item {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  text-align: center;
}
.sectionHotelDescription__span {
  color: #111;
  text-align: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.sectionHotelDescription__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionHotelDescription__img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

@media only screen and (min-width: 1000px) {
  .sectionHotelDescription__video {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    height: 670px;
  }
  .sectionHotelDescription__h1 {
    margin: 0 auto;
    font-size: 7.2rem;
    max-width: 1064px;
  }
  .sectionHotelDescription__h1--left {
    font-size: 4.8rem;
  }
  .sectionHotelDescription__icons {
    min-width: 1000px;
    margin: 0 auto;
    max-width: 1420px;
  }
  .sectionHotelDescription__restaurant {
    flex-direction: row;
  }
  .sectionHotelDescription__img {
    max-width: 530px;
  }
}
.sectionCounter {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: left;
  padding: 8em 1em 4em 1em;
}
.sectionCounter__h2 {
  color: #777;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionCounter__h1 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.2px;
}
.sectionCounter__flex {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sectionCounter__item {
  display: flex;
  gap: 2em;
  text-align: center;
}
.sectionCounter__p {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: -1.8px;
}
.sectionCounter__span {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}
.sectionCounter__img--left {
  margin-left: auto;
}

@media only screen and (min-width: 1000px) {
  .sectionCounter {
    margin: 0 auto;
    max-width: 1420px;
  }
  .sectionCounter__flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
.swiper2Slide {
  display: flex;
  width: 100%;
}
.swiper2Slide__img {
  width: 100%;
  min-height: 270px;
}
.swiper2Slide__bullets {
  --swiper-pagination-color:#BEAD8E;
  text-align: center;
}

.sectionRoomList {
  padding: 8em 1em;
  width: 100%;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 3em;
  max-width: 1420px;
  margin: 0 auto;
}

.roomCard {
  width: 100%;
  background-color: #FFF;
}
.roomCard__img {
  width: 100%;
}
.roomCard__icons {
  z-index: 3;
  width: 60%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.roomCard__h3 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: -1.2px;
}
.roomCard__a {
  text-decoration: none;
  color: #777;
}
.roomCard__a:visited {
  color: #777;
}
.roomCard__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.roomCard__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomCard__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.roomCard__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.roomCard__section--text {
  margin-top: -3rem;
}
.roomCard__section--price {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.roomCard__button {
  width: 10rem;
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.5s;
}
.roomCard__button:hover {
  cursor: pointer;
  color: #BEAD8E;
  font-size: 2rem;
}

.sectionControls {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.sectionControls__button {
  cursor: pointer;
  background-color: #FFF;
  width: 5rem;
  height: 5rem;
  border: none;
  color: #222;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9rem;
}
.sectionControls__button--active {
  background-color: #BEAD8E;
  color: #FFF;
}
.sectionControls__button:hover {
  border: 2px solid #999;
}

.sectionRoomMain {
  max-width: 1420px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: left;
  padding: 16em 1em 4em 1em;
}
.sectionRoomMain__h2 {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionRoomMain__h1 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: -1.44px;
}
.sectionRoomMain__h4 {
  color: #111;
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
}
.sectionRoomMain__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.sectionRoomMain__img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.sectionRoomMain__p {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionRoomMain__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.sectionRoomMain__span {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
}
.sectionRoomMain__calendar {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionRoomMain__inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionRoomMain__label {
  color: #111;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionRoomMain__input {
  width: 100%;
  height: 6rem;
  border: none;
  background-color: #F8F8F8;
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 1000px) {
  .sectionRoomMain {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }
  .sectionRoomMain__flex {
    width: 55%;
    background-color: #FFF;
    padding: 2em;
    position: absolute;
    top: 8em;
    display: flex;
    align-items: center;
    gap: 2em;
  }
  .sectionRoomMain__img {
    max-width: 60%;
  }
  .sectionRoomMain__inputsContainer {
    width: 370px;
    padding: 0 1em;
  }
}
.sectionRoomDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: left;
  padding: 2em 1em 4em 1em;
}
.sectionRoomDescription__p {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionRoomDescription__h2 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
.sectionRoomDescription__h3 {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionRoomDescription__img {
  width: 1.6rem;
  height: 1.6rem;
}
.sectionRoomDescription__span {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sectionRoomDescription__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionRoomDescription__ul {
  width: 100%;
  height: 260px;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  column-gap: 10em;
}
.sectionRoomDescription__li {
  display: flex;
  align-items: center;
  gap: 1em;
}
.sectionRoomDescription__profileContainer {
  width: 16rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.sectionRoomDescription__profile {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
}
.sectionRoomDescription__checkContainer {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  background-color: #BEAD8E;
  border: 2px solid #FFF;
  border-radius: 50%;
}
.sectionRoomDescription__profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  margin-bottom: 4em;
}

@media only screen and (min-width: 1000px) {
  .sectionRoomDescription {
    max-width: 60%;
  }
  .sectionRoomDescription__ul {
    grid-template-columns: repeat(3, 150px);
  }
}
.swiperCore2Slide {
  width: 100%;
  z-index: 2;
  position: relative;
}
.swiperCore2Slide__wrapper {
  width: 100%;
  max-width: 40rem;
}
.swiperCore2Slide__container {
  z-index: 3;
  width: 100%;
  top: 25%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.swiperCore2Slide__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.swiperCore2Slide__button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  --swiper-navigation-size: 1.2rem;
}
.swiperCore2Slide__button--next {
  background-color: #BEAD8E;
  color: #FFF;
}
.swiperCore2Slide__button--prev {
  background-color: #FFF;
}

.sectionOffers {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 5em 1em 4em 1em;
  max-width: 1420px;
  margin: 0 auto;
}
.sectionOffers__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
.sectionOffers__imgContainer {
  position: relative;
  margin-bottom: 2em;
}
.sectionOffers__prices {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.sectionOffers__prices--alt {
  display: none;
}
.sectionOffers__p {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionOffers__p--highlight {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: line-through;
}
.sectionOffers__p--red {
  color: #DE5777;
  font-family: "Archivo", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionOffers__text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionOffers__h2 {
  color: #777;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionOffers__h1 {
  color: #111;
  font-family: "Old Standard TT", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: -1.44px;
}
.sectionOffers__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionOffers__li {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
.sectionOffers__span {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (min-width: 1000px) {
  .sectionOffers .topText__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .sectionOffers__prices {
    display: none;
  }
  .sectionOffers__prices--alt {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: right;
  }
  .sectionOffers__text {
    background-color: #FFF;
    padding: 5em 4em;
    border-top: 5px solid #BEAD8E;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    top: -9em;
  }
  .sectionOffers__img {
    height: 570px;
  }
  .sectionOffers__topText {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sectionOffers__bottomText {
    display: flex;
    justify-content: space-between;
  }
  .sectionOffers__p {
    max-width: 496px;
  }
  .sectionOffers__flex {
    display: flex;
    gap: 2em;
    margin-right: 5em;
  }
}
.sectionPopularList {
  margin: 0 auto;
  max-width: 1420px;
  background-color: #222;
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}
.sectionPopularList__h3 {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.sectionPopularList__h1 {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: -0.8px;
}

.sectionContactInfo {
  width: 100%;
  padding: 5em 1em;
}
.sectionContactInfo__card {
  position: relative;
  display: flex;
  gap: 2em;
  align-items: center;
  height: 18rem;
}
.sectionContactInfo__p {
  z-index: -1;
  position: absolute;
  right: 0;
  color: #F8F8F8;
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -6px;
}
.sectionContactInfo__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.sectionContactInfo__span {
  font-family: "Old Standard TT", serif;
}
.sectionContactInfo__span--dark {
  color: #686868;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.sectionContactInfo__span--light {
  color: #777;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (min-width: 1000px) {
  .sectionContactInfo {
    margin: 0 auto;
    max-width: 1420px;
    display: flex;
    justify-content: space-between;
  }
}
.sectionContactForm {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionContactForm__topGroup {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionContactForm__group {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sectionContactForm__input {
  height: 6.7rem;
  background-color: #F8F8F8;
  border: none;
  width: 100%;
  padding: 1em 3em;
}
.sectionContactForm__input--center {
  align-self: center;
}
.sectionContactForm__textArea {
  background-color: #F8F8F8;
  border: none;
  padding: 1em 3em;
  width: 100%;
}
.sectionContactForm__container {
  position: relative;
}
.sectionContactForm__img {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}
.sectionContactForm__img--top {
  position: absolute;
  top: 1em;
  left: 1em;
}

@media only screen and (min-width: 1000px) {
  .sectionContactForm {
    margin: 0 auto;
    max-width: 1420px;
  }
  .sectionContactForm__topGroup {
    width: 100%;
    flex-direction: row;
  }
  .sectionContactForm__group {
    width: 100%;
  }
}
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=style.css.map */