@import "./variables.scss";

.header{
     position: relative;
    &__dropMenu{
        width: 100%;
        position: absolute;
        background-color: $bg__color--light;
        padding: 2em;
        z-index: 5;
        display: none;
    }

    &__ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1em;

        &--desktop{
            display: none;
        }
    }

    &__li{
        color: $font__color--text-darkest;
        font-family: $font__family--main;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__a{
        text-decoration: none;

        &:visited{
            color:$font__color--text-darkest ;
        }
    }
}

@media only screen and (min-width:1000px) {

    .header{
        margin: 0 auto;
        z-index: 8;
        width: 100%;
        height: 100px;
        background-color: $bg__color--dark;

        &__ul{
            &--desktop{
                display: flex;
                flex-direction: row;
            }
        }
    }
}
