@import "./variables.scss";

.roomCard{
    width: 100%;
    background-color: $bg__color--light;
   
    &__img{
        width: 100%;
    }

    &__icons{
        z-index: 3;
        width: 60%;
        background-color: $bg__color--light;
        display: flex;
        justify-content: space-between;
        
        padding: 2em;
    }

    &__h3{
        color: $font__color--text-darkest;
        font-family: $font__family--sec;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.6rem;
        letter-spacing: -1.2px;
    }

    &__a{
        text-decoration: none;
        color: $font__color--text-medium;

        &:visited{
            color: $font__color--text-medium;
        }
    }

    &__p{
        color: $font__color--text-medium;
        font-family: $font__family--main;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; 
  
        &--highlight{
            color: $font__color--highlight;
            font-family: $font__family--main;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4.3rem;
        }
    }



    &__span{
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.3rem;
    }

    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        &--text{
            margin-top: -3rem;
        }

        &--price{
            display: flex;
            flex-direction: row;
            gap: 2em;
        }
    }

    &__button{
        width: 10rem;
        color: $font__color--text-mediumLight;
        
        font-family: $font__family--main;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: .5s;

        &:hover{
            cursor: pointer;
            color: $font__color--highlight;
            font-size: 2rem;
        }
    }
}