@import "./variables.scss";


.sectionRoom{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    padding: 8em 0 ;
    text-align: center;

    &__h2{
        font-family: $font__family--main;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.8rem; 
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $font__color--text-medium;
    }

    &__h1{
        font-family: $font__family--sec;
        font-size: 5.6rem;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: -1.2px;
        color: $font__color--text-darkest;
    }

    &__h3{
        color: $font__color--text-darkest;
        font-family: $font__family--sec;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.6rem;
        letter-spacing: -1.2px;
    }

    &__p{
        color: $font__color--text-medium;
        font-family: $font__family--main;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; 
        
        &--highlight{
            color: $font__color--highlight;
            font-family: $font__family--main;
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 4.3rem;
        }
    }


    &__span{
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.3rem;
    }

    &__swiperTop{
        z-index: 3;
        width: 70%;
        max-width: 350px;
        background-color: $bg__color--light;
        display: flex;
        justify-content: space-between;
        padding: 2em;
        margin-bottom: -5.5rem;
    }

    &__swiperBottom{
        margin-top: -5.5rem;
        z-index: 3;
        width: 90%;
        background-color: $bg__color--light;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        padding: 2em;
        
    }
}

@media only screen and (min-width:1000px) {

    .sectionRoom{
        max-width: 1420px;
        margin: 0 auto;
        &__swiperBottom{
            flex-direction: row;
            align-items: center;
            text-align: left;
            max-width: 30%;
        }
    }
}
