@import "./variables.scss";

 .swiperPagination{
    max-width: 1420px;
    width: 100%;
    
    &--dark{
        background-color: $bg__colot--darkMedium;
    }

    &__img{
        transition: .5s;
        &:hover{
            scale: 1.2;
        }
    }
   
    &__wrapper{
        height: 100%;
        width: 100%;
    }

    &__slide{
        padding: 1em;
        display: flex;
        padding-top:8em ;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        text-align: left;
        position: relative;
    }

    &__span{
        color: rgba(34, 34, 34, 0.04);
        font-family: $font__family--main;
        font-size: 12rem;
        font-style: normal;
        font-weight: 700;
        line-height: 13rem; 
        position: absolute;
        top: 0;
        right: 0;

        &--dark{
            color: $font__color--text-darkest;
        }
    }

    &__h3{
        color: $font__color--text-darkest;
        font-family: $font__family--sec;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem; 
        letter-spacing: -0.9px;

        &--light{
            color: $font__color--text-light;
        }
    }

    &__p{
        color: $font__color--text-medium;
        font-family: $font__family--main;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;

        &--light{
            color: $font__color--text-light;
        }
    }

    &__bullets, &__bullets--photo{
        --swiper-pagination-color:#BEAD8E;
        align-self: center;
    }

}

