@import "./variables.scss";

.topContainer{
    background-color: $bg__color--dark;
    margin: 0 auto;
    max-width: 1420px;
    &__p{
       
        
        padding: .5em 0;
        color: $font__color--text-light;
        font-family: $font__family--extra;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        display: none;
    }

}

@media only screen and (min-width:1000px) {
    .topContainer{
        height: 100px;
        padding: 1.1rem 0;
        z-index: 9;
        width: 100%;
       
        &__p{
            display: block;
            margin: 0 auto;
        }
    }
}
