
$bg__color--dark:#222;
$bg__colot--darkMedium:#292929;
$bg__color--medium:#BEAD8E;
$bg__color--mediumLight:#F8F8F8;
$bg__color--light:#FFF;

$btn__color--dark: #BEAD8E;
$btn__color--light:transparent;


$font__color--text-light: #FFF;
$font__color--highlight: #BEAD8E;
$font__color--text-medium: #777;
$font__color--text-mediumLight:#C2C2C2;
$font__color--text-mediumDark:#999;
$font__color--text-dark: #686868;
$font__color--text-darkest: #111;
$font__color--text-red:#DE5777;


$font__family--main: 'Archivo', sans-serif;
$font__family--sec: 'Old Standard TT', serif;
$font__family--extra: 'Roboto', sans-serif;